In [60]:
# Dependencies
import time 
from bs4 import BeautifulSoup
from splinter import Browser
import requests
from geopy.geocoders import Nominatim

In [61]:
# make browser
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [62]:
# make a geolocator to extract city lat long from the geopy
geolocator = Nominatim()

#### 247 Web Page - Start

In [72]:
recruits={}
player=[]
school=[]
city=[]
state=[]
cityState=[]
position=[]
height=[]
weight=[]
rate=[]
rankP=[]
rankO=[]
years=[]
for year in range(2008,2013,1):
    # URL of page to be scraped
    url = 'https://247sports.com/Season/' + str(year) + '-Football/CompositeRecruitRankings?InstitutionGroup=HighSchool'


    # Visit the URL
    browser.visit(url)
    time.sleep(2)
    
    for i in range(1):
        browser.click_link_by_partial_text("Load More")
        time.sleep(2)
        
    html = browser.html
    soup  = BeautifulSoup(html, 'html.parser')
    
    name=soup.find_all('div', class_='name')
    positions = soup.find_all('li', class_="position")
    heights = soup.find_all('li', class_="height")
    weights = soup.find_all('li', class_="weight")
    ratings = soup.find_all('div', class_='rating')
    rankPrimary = soup.find_all('div', class_="primary")
    rankOther = soup.find_all('div', class_="other")
    

    
    for i in range(1,len(name)):
        player.append(name[i].a.text)
        #meta = name[i].span.text.split('(')
        school.append(name[i].span.text.split(' (')[0].strip())
        #meta = meta[1].split(',')
        meta = name[i].span.text.split(' (')[-1]
        city.append(meta.split(',')[0])
        state.append(meta.split(',')[-1].split(')')[0].strip())
        
        # geolocation lat long 
        stateCity=name[i].span.text.split(" (")[-1].split(")")[0]
    
        stateCity = stateCity +", united states of america"
        cityState.append(stateCity)

    for i in range(len(positions)):
        position.append(positions[i].text)

    for i in range(len(heights)):
        height.append(heights[i].text)

    for i in range(len(weights)):
        wt=int(weights[i].text)
        weight.append(wt)

    for i in range(1,len(ratings)):
        stars = len(ratings[i].find_all('span', class_="icon-starsolid yellow"))
        rate.append(stars)

    for i in range(len(rankPrimary)):
        rank = int(rankPrimary[i].text.split(' ')[1])
        rankP.append(rank)

    for i in range(len(rankOther)):
        rank = rankOther[i].text
        if len(rank)< 1: 
            rank = 0
        rank = int(rank)
        rankO.append(rank)
        years.append(year)
    time.sleep(2)

In [74]:
print(len(player), len(school), len(city), len(state), len(cityState), len(position), len(height), len(weight),len(rate), len(rankP), len(rankO), len(years))

500 500 500 500 500 500 500 500 500 500 500 500

In [235]:
heightFt=[]
heightIn=[]
for i in range(len(height)):
    heightFt.append(height[i].split('-')[0])
    heightIn.append(height[i].split('-')[-1])

In [236]:
import pandas as pd
recruits={'player':player,
          'school':school,
          'city':city,
          'state':state,
          'location':cityState,
          'position':position,
          'heightFt':heightFt,
          'heightIn':heightIn,
          'weight':weight,
          'rate':rate,
          'rankP':rankP,
          'rankO':rankO,
          'year':years
         }
recruitsDf = pd.DataFrame(recruits)
recruitsDf = recruitsDf[recruitsDf['rate']>4]
recruitsDf

,city,heightFt,heightIn,location,player,position,rankO,rankP,rate,school,state,weight,year
0,Bamberg,6,4,"Bamberg, SC, united states of america",Da'Quan Bowers,SDE,0,1,5,Bamberg Ehrhardt,SC,265,2008
1,Jeannette,6,6,"Jeannette, PA, united states of america",Terrelle Pryor,DUAL,0,2,5,Jeannette,PA,233,2008
2,Foley,6,4,"Foley, AL, united states of america",Julio Jones,WR,0,3,5,Foley,AL,220,2008
3,Ventura,6,0,"Ventura, CA, united states of america",Darrell Scott,RB,0,4,5,St. Bonaventure,CA,204,2008
4,Jersey City,6,1,"Jersey City, NJ, united states of america",Will Hill,S,0,5,5,St. Peters Prep,NJ,207,2008
5,Pompano Beach,6,1,"Pompano Beach, FL, united states of america",Patrick Peterson,CB,0,6,5,Blanche Ely,FL,195,2008
6,Summerville,6,4,"Summerville, SC, united states of america",A.J. Green,WR,0,7,5,Summerville,SC,184,2008
7,Wichita,6,1,"Wichita, KS, united states of america",Arthur Brown,ILB,0,8,5,East,KS,210,2008
8,Van Horn,6,0,"Van Horn, TX, united states of america",Jermie Calhoun,RB,0,9,5,Van Horn,TX,210,2008
9,Keller,6,3,"Keller, TX, united states of america",R.J. Washington,SDE,0,10,5,Fossil Ridge,TX,248,2008
10,Miami,6,3,"Miami, FL, united states of america",Marcus Forston,DT,0,11,5,Northwestern,FL,286,2008
11,Pascagoula,6,6,"Pascagoula, MS, united states of america",DeAndre Brown,WR,0,12,5,Ocean Springs,MS,205,2008
12,Aliquippa,6,6,"Aliquippa, PA, united states of america",Jonathan Baldwin,WR,0,13,5,Aliquippa,PA,233,2008
13,Saint Paul,6,3,"Saint Paul, MN, united states of america",Michael Floyd,WR,0,14,5,Cretin Derham Hall,MN,195,2008
14,Orlando,6,5,"Orlando, FL, united states of america",Michael Brewster,OC,0,15,5,Edgewater,FL,293,2008
15,Orange,6,4,"Orange, CA, united states of america",Blake Ayles,TE,0,16,5,Orange Lutheran,CA,245,2008
16,Buford,6,1,"Buford, GA, united states of america",Omar Hunter,DT,0,17,5,Buford,GA,300,2008
17,Cartersville,6,0,"Cartersville, GA, united states of america",Richard Samuel,RB,0,18,5,Cass,GA,197,2008
18,Crawfordville,6,2,"Crawfordville, FL, united states of america",Nigel Bradham,OLB,0,19,5,Wakulla,FL,230,2008
19,Anaheim,6,7,"Anaheim, CA, united states of america",Matt Kalil,OT,0,20,5,Servite,CA,281,2008
20,Dublin,6,8,"Dublin, OH, united states of america",Mike Adams,OT,0,21,5,Dublin Coffman,OH,300,2008
21,Sherman Oaks,6,5,"Sherman Oaks, CA, united states of america",Dayne Crist,PRO,0,22,5,Notre Dame,CA,228,2008
22,Birmingham,6,6,"Birmingham, AL, united states of america",Tyler Love,OT,0,23,5,Mountain Brook,AL,307,2008
23,Miami,6,3,"Miami, FL, united states of america",Etienne Sabino,OLB,0,24,5,Dr Michael M. Krop,FL,240,2008
24,Miami,5,11,"Miami, FL, united states of america",Brandon Harris,CB,0,25,5,Booker T. Washington,FL,174,2008
25,Virginia Beach,6,5,"Virginia Beach, VA, united states of america",EJ Manuel,DUAL,0,26,5,Bayside,VA,220,2008
26,Mobile,5,11,"Mobile, AL, united states of america",B.J. Scott,CB,0,27,5,Vigor,AL,193,2008
27,Statesboro,6,2,"Statesboro, GA, united states of america",DeAngelo Tyson,DT,0,28,5,Statesboro,GA,276,2008
100,Newport Beach,6,3,"Newport Beach, CA, united states of america",Matt Barkley,PRO,0,1,5,Mater Dei,CA,226,2009
101,Wichita,6,0,"Wichita, KS, united states of america",Bryce Brown,RB,0,2,5,East,KS,215,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,Olney,6,1,"Olney, MD, united states of america",Stefon Diggs,WR,10,8,5,Good Counsel,MD,190,2012
408,Brenham,6,3,"Brenham, TX, united states of america",Malcom Brown,DT,7,9,5,Brenham,TX,300,2012
409,Washington,6,5,"Washington, DC, united states of america",Eddie Goldman,DT,14,10,5,Friendship Academy,DC,305,2012
410,San Clemente,6,7,"San Clemente, CA, united states of america",Kyle Murphy,OT,11,11,5,San Clemente,CA,270,2012
411,Shelby,6,4,"Shelby, NC, united states of america",Jonathan Bullard,SDE,30,12,5,Crest,NC,245,2012
412,Raleigh,5,11,"Raleigh, NC, united states of america",Keith Marshall,APB,21,13,5,Millbrook,NC,195,2012
413,Elk Grove,6,8,"Elk Grove, CA, united states of america",Arik Armstead,ATH,4,14,5,Pleasant Grove,CA,285,2012
414,Jacksonville,6,5,"Jacksonville, FL, united states of america",John Theus,OT,35,15,5,The Bolles School,FL,305,2012
415,Hueytown,6,4,"Hueytown, AL, united states of america",Jameis Winston,DUAL,26,16,5,Hueytown,AL,190,2012
416,Panama City Beach,6,2.5,"Panama City Beach, FL, united states of america",Eddie Williams,ATH,8,17,5,Arnold,FL,196,2012
417,Houston,5,8,"Houston, TX, united states of america",Trey Williams,APB,25,18,5,Dekaney,TX,175,2012
418,Cincinnati,6,4,"Cincinnati, OH, united states of america",Adolphus Washington,WDE,20,19,5,Taft,OH,245,2012
419,Miami,5,10,"Miami, FL, united states of america",Duke Johnson,APB,29,20,5,Norland,FL,175,2012
420,Ramsey,6,4,"Ramsey, NJ, united states of america",Darius Hamilton,SDE,23,21,5,Don Bosco Prep,NJ,250,2012
421,Valdosta,6,5,"Valdosta, GA, united states of america",Josh Harvey-Clemons,OLB,32,22,5,Lowndes,GA,200,2012
422,Hollywood,5,11,"Hollywood, FL, united states of america",Tracy Howard,CB,40,23,5,Miramar,FL,175,2012
423,Monrovia,6,5,"Monrovia, CA, united states of america",Ellis McCarthy,DT,43,24,5,Monrovia,CA,315,2012
424,Oxon Hill,5,11,"Oxon Hill, MD, united states of america",Ronald Darby,CB,16,25,5,Potomac,MD,174,2012
425,Columbus,6,4,"Columbus, IN, united states of america",Gunner Kiel,PRO,24,26,5,Columbus East,IN,210,2012
426,Daphne,6,2,"Daphne, AL, united states of america",T.J. Yeldon,RB,13,27,5,Daphne,AL,205,2012
427,Corvallis,6,3,"Corvallis, OR, united states of america",Isaac Seumalo,OG,27,28,5,Corvallis,OR,280,2012
428,Mobile,6,5,"Mobile, AL, united states of america",Chris Casher,WDE,49,29,5,WP Davidson,AL,240,2012
429,Tampa,6,1,"Tampa, FL, united states of america",Nelson Agholor,ATH,31,30,5,Berkeley Prep,FL,185,2012
430,Tempe,6,7,"Tempe, AZ, united states of america",Andrus Peat,OT,64,31,5,Corona Del Sol,AZ,305,2012
431,Aliquippa,6,0,"Aliquippa, PA, united states of america",Rushel Shell,RB,60,32,5,Hopewell,PA,215,2012
432,Dallas,5,11,"Dallas, TX, united states of america",Thomas Johnson,WR,44,33,5,Skyline,TX,175,2012
433,Hamilton,6,3,"Hamilton, GA, united states of america",Jordan Jenkins,WDE,28,34,5,Harris County,GA,242,2012
434,Aberdeen,6,3,"Aberdeen, MS, united states of america",Channing Ward,WDE,36,35,5,Aberdeen,MS,250,2012
435,Saint Petersburg,6,3,"Saint Petersburg, FL, united states of america",Dante Fowler,WDE,15,36,5,Lakewood,FL,258,2012
436,Cape Coral,5,11,"Cape Coral, FL, united states of america",Mario Pender,RB,41,37,5,Island Coast,FL,194,2012

In [245]:
locations = set(recruitsDf.location.tolist())
locations = [i for i in locations]

In [198]:
lats=[]
lngs=[]
count=1
for location in locations:
    lats.append(geolocator.geocode(location).latitude)
    lngs.append(geolocator.geocode(location).longitude)
    count=count+1
    if count in range(0,140,5):
        time.sleep(2)
    print('----')

In [205]:
latsAll=lats.copy()
lngsAll=lngs.copy()

In [ ]:
location = {"location": cityStateSet,
"lat" : latsAll,
"lng" : lngsAll
}
locationDf=pd.DataFrame(location)

In [237]:
locationDf.head()

         lat        lng                                     location
0  32.804051 -81.949281         Millen, GA, united states of america
1  28.558055 -81.851189      Groveland, FL, united states of america
2  41.286070 -96.234612        Elkhorn, NE, united states of america
3  28.810823 -81.877858       Leesburg, FL, united states of america
4  26.525349 -80.066431  Boynton Beach, FL, united states of america

In [238]:
df=pd.merge(recruitsDf, locationDf, on='location')
df

,city,heightFt,heightIn,location,player,position,rankO,rankP,rate,school,state,weight,year,lat,lng
0,Bamberg,6,4,"Bamberg, SC, united states of america",Da'Quan Bowers,SDE,0,1,5,Bamberg Ehrhardt,SC,265,2008,33.213015,-81.016623
1,Jeannette,6,6,"Jeannette, PA, united states of america",Terrelle Pryor,DUAL,0,2,5,Jeannette,PA,233,2008,40.328125,-79.615320
2,Foley,6,4,"Foley, AL, united states of america",Julio Jones,WR,0,3,5,Foley,AL,220,2008,30.406587,-87.683597
3,Foley,6,6,"Foley, AL, united states of america",D.J. Fluker,OT,0,30,5,Foley,AL,335,2009,30.406587,-87.683597
4,Ventura,6,0,"Ventura, CA, united states of america",Darrell Scott,RB,0,4,5,St. Bonaventure,CA,204,2008,34.343649,-119.295171
5,Jersey City,6,1,"Jersey City, NJ, united states of america",Will Hill,S,0,5,5,St. Peters Prep,NJ,207,2008,40.728158,-74.077642
6,Jersey City,6,0,"Jersey City, NJ, united states of america",Savon Huggins,RB,29,28,5,St. Peters Prep,NJ,190,2011,40.728158,-74.077642
7,Pompano Beach,6,1,"Pompano Beach, FL, united states of america",Patrick Peterson,CB,0,6,5,Blanche Ely,FL,195,2008,26.237860,-80.124767
8,Summerville,6,4,"Summerville, SC, united states of america",A.J. Green,WR,0,7,5,Summerville,SC,184,2008,33.020618,-80.174754
9,Wichita,6,1,"Wichita, KS, united states of america",Arthur Brown,ILB,0,8,5,East,KS,210,2008,37.692236,-97.337545
10,Wichita,6,0,"Wichita, KS, united states of america",Bryce Brown,RB,0,2,5,East,KS,215,2009,37.692236,-97.337545
11,Van Horn,6,0,"Van Horn, TX, united states of america",Jermie Calhoun,RB,0,9,5,Van Horn,TX,210,2008,31.038006,-104.830369
12,Keller,6,3,"Keller, TX, united states of america",R.J. Washington,SDE,0,10,5,Fossil Ridge,TX,248,2008,32.929966,-97.227125
13,Miami,6,3,"Miami, FL, united states of america",Marcus Forston,DT,0,11,5,Northwestern,FL,286,2008,25.774266,-80.193659
14,Miami,6,3,"Miami, FL, united states of america",Etienne Sabino,OLB,0,24,5,Dr Michael M. Krop,FL,240,2008,25.774266,-80.193659
15,Miami,5,11,"Miami, FL, united states of america",Brandon Harris,CB,0,25,5,Booker T. Washington,FL,174,2008,25.774266,-80.193659
16,Miami,5,8,"Miami, FL, united states of america",Lamarcus Joyner,ATH,14,12,5,St. Thomas Aquinas,FL,175,2010,25.774266,-80.193659
17,Miami,5,10,"Miami, FL, united states of america",Duke Johnson,APB,29,20,5,Norland,FL,175,2012,25.774266,-80.193659
18,Pascagoula,6,6,"Pascagoula, MS, united states of america",DeAndre Brown,WR,0,12,5,Ocean Springs,MS,205,2008,30.364680,-88.558599
19,Aliquippa,6,6,"Aliquippa, PA, united states of america",Jonathan Baldwin,WR,0,13,5,Aliquippa,PA,233,2008,40.610239,-80.267726
20,Aliquippa,6,0,"Aliquippa, PA, united states of america",Rushel Shell,RB,60,32,5,Hopewell,PA,215,2012,40.610239,-80.267726
21,Saint Paul,6,3,"Saint Paul, MN, united states of america",Michael Floyd,WR,0,14,5,Cretin Derham Hall,MN,195,2008,44.950404,-93.101503
22,Saint Paul,6,8,"Saint Paul, MN, united states of america",Seantrel Henderson,OT,6,2,5,Cretin Derham Hall,MN,330,2010,44.950404,-93.101503
23,Orlando,6,5,"Orlando, FL, united states of america",Michael Brewster,OC,0,15,5,Edgewater,FL,293,2008,28.542400,-81.379437
24,Orlando,6,2,"Orlando, FL, united states of america",Ha Ha Clinton-Dix,S,19,7,5,Dr. Phillips,FL,190,2011,28.542400,-81.379437
25,Orange,6,4,"Orange, CA, united states of america",Blake Ayles,TE,0,16,5,Orange Lutheran,CA,245,2008,33.750038,-117.870493
26,Buford,6,1,"Buford, GA, united states of america",Omar Hunter,DT,0,17,5,Buford,GA,300,2008,34.120656,-84.004351
27,Cartersville,6,0,"Cartersville, GA, united states of america",Richard Samuel,RB,0,18,5,Cass,GA,197,2008,34.165097,-84.799938
28,Crawfordville,6,2,"Crawfordville, FL, united states of america",Nigel Bradham,OLB,0,19,5,Wakulla,FL,230,2008,30.176036,-84.375178
29,Anaheim,6,7,"Anaheim, CA, united states of america",Matt Kalil,OT,0,20,5,Servite,CA,281,2008,33.834752,-117.911732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Springfield,6,2,"Springfield, OH, united states of america",Trey DePriest,ILB,23,30,5,Springfield,OH,242,2011,39.924227,-83.808817
130,Springfield,6,6,"Springfield, MO, united states of america",Dorial Green-Beckham,WR,2,1,5,Hillcrest,MO,220,2012,37.216678,-93.292037
131,Denton,6,3,"Denton, TX, united states of america",Mario Edwards,DT,1,2,5,Ryan,TX,285,2012,33.183879,-97.141342
132,Charlotte,6,5,"Charlotte, NC, united states of america",D.J. Humphries,OT,5,3,5,Mallard Creek,NC,275,2012,35.227087,-80.843127
133,Sacramento,6,2,"Sacramento, CA, united states of america",Shaq Thompson,S,6,4,5,Grant Union,CA,210,2012,38.581572,-121.494400
134,Harrisburg,6,3,"Harrisburg, PA, united states of america",Noah Spence,WDE,12,5,5,Bishop McDevitt,PA,235,2012,40.266311,-76.886112
135,Aledo,5,11,"Aledo, TX, united states of america",Johnathan Gray,RB,9,6,5,Aledo,TX,200,2012,32.697429,-97.603984
136,Geismar,6,0,"Geismar, LA, united states of america",Landon Collins,S,3,7,5,Dutchtown,LA,210,2012,30.204363,-91.022601
137,Olney,6,1,"Olney, MD, united states of america",Stefon Diggs,WR,10,8,5,Good Counsel,MD,190,2012,39.153212,-77.066841
138,Brenham,6,3,"Brenham, TX, united states of america",Malcom Brown,DT,7,9,5,Brenham,TX,300,2012,30.166883,-96.397744
139,Washington,6,5,"Washington, DC, united states of america",Eddie Goldman,DT,14,10,5,Friendship Academy,DC,305,2012,38.894955,-77.036646
140,San Clemente,6,7,"San Clemente, CA, united states of america",Kyle Murphy,OT,11,11,5,San Clemente,CA,270,2012,33.427028,-117.612418
141,Shelby,6,4,"Shelby, NC, united states of america",Jonathan Bullard,SDE,30,12,5,Crest,NC,245,2012,35.292351,-81.535646
142,Raleigh,5,11,"Raleigh, NC, united states of america",Keith Marshall,APB,21,13,5,Millbrook,NC,195,2012,35.780398,-78.639099
143,Elk Grove,6,8,"Elk Grove, CA, united states of america",Arik Armstead,ATH,4,14,5,Pleasant Grove,CA,285,2012,38.408799,-121.371618
144,Jacksonville,6,5,"Jacksonville, FL, united states of america",John Theus,OT,35,15,5,The Bolles School,FL,305,2012,30.332184,-81.655651
145,Hueytown,6,4,"Hueytown, AL, united states of america",Jameis Winston,DUAL,26,16,5,Hueytown,AL,190,2012,33.451220,-86.996661
146,Panama City Beach,6,2.5,"Panama City Beach, FL, united states of america",Eddie Williams,ATH,8,17,5,Arnold,FL,196,2012,30.176591,-85.805488
147,Cincinnati,6,4,"Cincinnati, OH, united states of america",Adolphus Washington,WDE,20,19,5,Taft,OH,245,2012,39.101454,-84.512460
148,Ramsey,6,4,"Ramsey, NJ, united states of america",Darius Hamilton,SDE,23,21,5,Don Bosco Prep,NJ,250,2012,41.057319,-74.140977
149,Hollywood,5,11,"Hollywood, FL, united states of america",Tracy Howard,CB,40,23,5,Miramar,FL,175,2012,26.011201,-80.149490
150,Monrovia,6,5,"Monrovia, CA, united states of america",Ellis McCarthy,DT,43,24,5,Monrovia,CA,315,2012,34.148350,-118.001452
151,Oxon Hill,5,11,"Oxon Hill, MD, united states of america",Ronald Darby,CB,16,25,5,Potomac,MD,174,2012,38.803596,-76.989657
152,Columbus,6,4,"Columbus, IN, united states of america",Gunner Kiel,PRO,24,26,5,Columbus East,IN,210,2012,39.201440,-85.921380
153,Daphne,6,2,"Daphne, AL, united states of america",T.J. Yeldon,RB,13,27,5,Daphne,AL,205,2012,30.603525,-87.903605
154,Corvallis,6,3,"Corvallis, OR, united states of america",Isaac Seumalo,OG,27,28,5,Corvallis,OR,280,2012,44.564566,-123.262044
155,Tempe,6,7,"Tempe, AZ, united states of america",Andrus Peat,OT,64,31,5,Corona Del Sol,AZ,305,2012,33.414414,-111.909447
156,Hamilton,6,3,"Hamilton, GA, united states of america",Jordan Jenkins,WDE,28,34,5,Harris County,GA,242,2012,32.757911,-84.874931
157,Aberdeen,6,3,"Aberdeen, MS, united states of america",Channing Ward,WDE,36,35,5,Aberdeen,MS,250,2012,33.825114,-88.543655
158,Saint Petersburg,6,3,"Saint Petersburg, FL, united states of america",Dante Fowler,WDE,15,36,5,Lakewood,FL,258,2012,27.770380,-82.669509

In [241]:
df.shape

(159, 15)

In [242]:
df.to_csv("recruitsDf.csv")

In [244]:
locationDf.to_csv("locationsDf.csv")