In [1]:
import pandas as pd
import os
import glob

In [54]:
path = 'draft/*.csv'
all_files = glob.glob(os.path.join(path))
df = pd.concat((pd.read_csv(f) for f in all_files))

In [55]:
df = df.reset_index(drop=True)
df.head()

,Year,Rnd,Pick,Tm,Player,Pos,Age,To,College/Univ
0,2009,1,1,DET,Matthew Stafford\StafMa00,QB,21.0,2017.0,Georgia
1,2009,1,2,STL,Jason Smith\SmitJa22,T,23.0,2012.0,Baylor
2,2009,1,3,KAN,Tyson Jackson\JackTy98,DE,23.0,2016.0,LSU
3,2009,1,4,SEA,Aaron Curry\CurrAa99,LB,23.0,2012.0,Wake Forest
4,2009,1,5,NYJ,Mark Sanchez\SancMa00,QB,22.0,2016.0,USC

In [56]:
df['Name'], df['Extra'] = df['Player'].str.split('\\', 2).str

In [57]:
df = df.drop(['Player','Extra'], axis=1)
df = df.rename(columns={'Name':'Player', 'College/Univ':'College'})
df = df[['Year', 'Rnd', 'Pick', 'Player', 'Tm', 'Pos', 'Age', 'To', 'College']]

In [58]:
df.head()

   Year  Rnd Pick            Player   Tm Pos   Age      To      College
0  2009    1    1  Matthew Stafford  DET  QB  21.0  2017.0      Georgia
1  2009    1    2       Jason Smith  STL   T  23.0  2012.0       Baylor
2  2009    1    3     Tyson Jackson  KAN  DE  23.0  2016.0          LSU
3  2009    1    4       Aaron Curry  SEA  LB  23.0  2012.0  Wake Forest
4  2009    1    5      Mark Sanchez  NYJ  QB  22.0  2016.0          USC

In [59]:
df.to_csv('all_draft.csv', encoding='utf-8', index=False)