In [21]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy import create_engine, inspect

import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
engine = create_engine('sqlite:///../data/football_new.db')
inspector = inspect(engine)

In [5]:
inspector.get_table_names()

['cfb_positions',
 'cfb_recruits',
 'drafted_recruits',
 'nfl_draft',
 'nfl_positions',
 'nfl_teams',
 'sqlite_sequence']

In [3]:
drafted = pd.read_sql_table('drafted_recruits', engine)
recruits = pd.read_sql_table('cfb_recruits', engine)

In [7]:
drafted.groupby('STAR').count()

,PLAYER,POS_CFB,YEAR_RECRUITED,RNK_RECRUITED,247_SCORE,COLLEGE_CFB,HOME_CITY,HOME_STATE,LAT,LNG,YEAR_DRAFTED,DRAFT_RND,DRAFT_PICK,NFL_TEAM,POS_NFL,COLLEGE_NFL
STAR,,,,,,,,,,,,,,,,
2,169,169,169,169,169,169,169,169,169,169,169,169,169,169,169,169
3,533,533,533,533,533,533,533,533,533,533,533,533,533,533,533,533
4,372,372,372,372,372,372,372,372,372,372,372,372,372,372,372,372
5,104,104,104,104,104,104,104,104,104,104,104,104,104,104,104,104

In [9]:
recruits.groupby('STAR').count()

,PLAYER,FIRST_NAME,LAST_NAME,POS,YEAR,RNK,247_SCORE,COLLEGE,CITY,STATE,LAT,LNG,HIGH_SCHOOL
STAR,,,,,,,,,,,,,
1,27,27,27,27,27,27,27,27,27,27,27,27,27
2,5278,5278,5278,5278,5278,5278,5278,5278,5278,5278,5278,5278,5278
3,7675,7675,7675,7675,7675,7675,7675,7675,7675,7675,7675,7675,7675
4,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722
5,190,190,190,190,190,190,190,190,190,190,190,190,190

In [10]:
drafted

,PLAYER,POS_CFB,YEAR_RECRUITED,RNK_RECRUITED,STAR,247_SCORE,COLLEGE_CFB,HOME_CITY,HOME_STATE,LAT,LNG,YEAR_DRAFTED,DRAFT_RND,DRAFT_PICK,NFL_TEAM,POS_NFL,COLLEGE_NFL
0,Joe McKnight,RB,2007,1,5,0.9997,USC,New Orleans,LA,30.032802,-89.975005,2010,4,112,NYJ,RB,USC
1,Tyrann Mathieu,CB,2010,223,4,0.9132,LSU,New Orleans,LA,30.032802,-89.975005,2013,3,69,ARI,DB,LSU
2,Trai Turner,OG,2011,355,3,0.8765,LSU,New Orleans,LA,30.032802,-89.975005,2014,3,92,CAR,OL,LSU
3,Deion Jones,OLB,2012,378,3,0.8899,LSU,New Orleans,LA,30.032802,-89.975005,2016,2,52,ATL,OLB,LSU
4,Lorenzo Doss,ATH,2012,1123,3,0.8354,Tulane,New Orleans,LA,30.032802,-89.975005,2015,5,164,DEN,CB,Tulane
5,Jimmy Clausen,PRO,2007,2,5,0.9988,Notre Dame,Thousand Oaks,CA,34.171427,-118.910588,2010,2,48,CAR,QB,Notre Dame
6,Casey Matthews,ILB,2007,347,3,0.8764,Oregon,Thousand Oaks,CA,34.171427,-118.910588,2011,4,116,PHI,LB,Oregon
7,Cassius Marsh,DT,2010,118,4,0.9441,UCLA,Thousand Oaks,CA,34.171427,-118.910588,2014,4,108,SEA,DE,UCLA
8,Jordan Payton,WR,2012,135,4,0.9427,UCLA,Thousand Oaks,CA,34.171427,-118.910588,2016,5,154,CLE,WR,UCLA
9,Eric Berry,CB,2007,3,5,0.9986,Tennessee,Fairburn,GA,33.567056,-84.581042,2010,1,5,KAN,DB,Tennessee
10,Joshua Holsey,CB,2012,157,4,0.9358,Auburn,Fairburn,GA,33.567056,-84.581042,2017,7,235,WAS,DB,Auburn
11,Marvin Austin,DT,2007,4,5,0.9979,North Carolina,Washington,DC,38.894955,-77.036646,2011,2,52,NYG,DT,North Carolina
12,Arrelious Benn,WR,2007,12,5,0.9937,Illinois,Washington,DC,38.894955,-77.036646,2010,2,39,TAM,WR,Illinois
13,Jeremiah Attaochu,OLB,2010,1073,3,0.8510,Georgia Tech,Washington,DC,38.894955,-77.036646,2014,2,50,SDG,LB,Georgia Tech
14,Kevin Hogan,PRO,2011,356,3,0.8764,Stanford,Washington,DC,38.894955,-77.036646,2016,5,162,KAN,QB,Stanford
15,Eddie Goldman,DT,2012,10,5,0.9944,Florida State,Washington,DC,38.894955,-77.036646,2015,2,39,CHI,DT,Florida State
16,Sean Davis,CB,2012,682,3,0.8657,Maryland,Washington,DC,38.894955,-77.036646,2016,2,58,PIT,CB,Maryland
17,Ryan Mallett,PRO,2007,5,5,0.9978,Michigan,Texarkana,TX,33.425125,-94.047688,2011,3,74,NWE,QB,Arkansas
18,Cobi Hamilton,WR,2009,463,3,0.8764,Arkansas,Texarkana,TX,33.425125,-94.047688,2013,6,197,CIN,WR,Arkansas
19,Marqueston Huff,CB,2010,1223,3,0.8448,Wyoming,Texarkana,TX,33.425125,-94.047688,2014,4,122,TEN,DB,Wyoming
20,Nick Reed,FB,2012,1818,2,0.7942,SMU,Texarkana,TX,33.425125,-94.047688,2009,7,247,SEA,DE,Oregon
21,Matt Kalil,OT,2008,20,5,0.9892,USC,Anaheim,CA,33.834752,-117.911732,2012,1,4,MIN,T,USC
22,Troy Niklas,SDE,2011,179,4,0.9187,Notre Dame,Anaheim,CA,33.834752,-117.911732,2014,2,52,ARI,TE,Notre Dame
23,Everson Griffen,SDE,2007,9,5,0.9960,USC,Avondale,AZ,33.435918,-112.340502,2010,4,100,MIN,DE,USC
24,Tommy Bohanon,FB,2009,1265,3,0.8333,Wake Forest,North Fort Myers,FL,26.710749,-81.813010,2013,7,215,NYJ,RB,Wake Forest
25,Tre Boston,CB,2010,818,3,0.8590,North Carolina,North Fort Myers,FL,26.710749,-81.813010,2014,4,128,CAR,DB,North Carolina
26,Kevin Zeitler,OG,2008,691,3,0.8556,Wisconsin,Milwaukee,WI,43.034993,-87.922497,2012,1,27,CIN,G,Wisconsin
27,Eric Murray,ATH,2012,2047,2,0.7791,Minnesota,Milwaukee,WI,43.034993,-87.922497,2016,4,106,KAN,CB,Minnesota
28,Carlos Dunlap,SDE,2007,14,5,0.9935,Florida,North Charleston,SC,32.854620,-79.974810,2010,2,54,CIN,DE,Florida
29,Robert Quinn,WDE,2008,264,4,0.8993,North Carolina,North Charleston,SC,32.854620,-79.974810,2011,1,14,STL,DE,North Carolina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,Aaron Williams,CB,2008,98,4,0.9517,Texas,Austin,TX,30.271129,-97.743700,2011,2,34,BUF,DB,Texas
1149,Ryan Murphy,S,2010,1456,3,0.8333,Oregon State,Oakland,CA,37.804456,-122.271356,2015,7,248,SEA,DB,Oregon State
1150,Marcus Smith,WDE,2010,593,3,0.8684,Louisville,Columbus,GA,32.460976,-84.987709,2014,1,26,PHI,LB,Louisville
1151,Michael Bennett,DT,2011,49,4,0.9736,Ohio State,Dayton,OH,39.758948,-84.191607,2015,6,180,JAX,DT,Ohio State
1152,Stedman Bailey,WR,2009,355,3,0.8875,West Virginia,Hollywood,FL,26.011201,-80.149490,2013,3,92,STL,WR,West Virginia
1153,Cedric Thompson,CB,2011,2153,2,0.7444,Minnesota,Calipatria,CA,33.143921,-115.549456,2015,5,150,MIA,FS,Minnesota
1154,T.J. Jones,WR,2010,87,4,0.9591,Notre Dame,Gainesville,GA,34.297879,-83.824066,2014,6,189,DET,WR,Notre Dame
1155,Oday Aboushi,OT,2009,568,3,0.8694,Virginia,Brooklyn,NY,40.650104,-73.949582,2013,5,141,NYJ,T,Virginia
1156,Justin Gilbert,ATH,2010,251,4,0.9059,Oklahoma State,Huntsville,TX,30.723526,-95.550777,2014,1,8,CLE,DB,Oklahoma State
1157,Marvin Jones,WR,2008,182,4,0.9202,California,Rancho Cucamonga,CA,34.103319,-117.575174,2012,5,166,CIN,WR,California
1158,Chris Carter,OLB,2007,848,3,0.8333,Fresno State,Fontana,CA,34.092233,-117.435048,2011,5,162,PIT,LB,Fresno State
1159,Chris Smith,WDE,2010,641,3,0.8655,Arkansas,Mount Ulla,NC,35.658473,-80.726736,2014,5,159,JAX,DE,Arkansas
1160,Chris Givens,RB,2008,1272,3,0.8111,Wake Forest,Wylie,TX,33.015120,-96.538879,2012,4,96,STL,WR,Wake Forest
1161,Kyle Fuller,CB,2010,1072,3,0.8510,Virginia Tech,Baltimore,MD,39.290882,-76.610759,2014,1,14,CHI,DB,Virginia Tech
1162,Brandon Thomas,OT,2009,250,4,0.9030,Clemson,Roebuck,SC,34.879568,-81.966214,2014,3,100,SFO,OL,Clemson
1163,Devin Smith,WR,2011,286,3,0.8895,Ohio State,Massillon,OH,40.796724,-81.521509,2015,2,37,NYJ,WR,Ohio State
1164,Jordan Hicks,OLB,2010,7,5,0.9962,Texas,West Chester,OH,40.233680,-81.344278,2015,3,84,PHI,OLB,Texas
1165,Austin Johnson,DT,2012,991,3,0.8422,Penn State,Richland,NJ,39.491783,-74.870724,2016,2,43,TEN,NT,Penn State
1166,Brandon Thompson,DT,2008,61,4,0.9713,Clemson,Thomasville,GA,30.836582,-83.978781,2012,3,93,CIN,DT,Clemson
1167,Sean Porter,OLB,2009,955,3,0.8505,Texas A&M,Schertz,TX,29.564162,-98.269570,2013,4,118,CIN,LB,Texas A&M
1168,Ryan Griffin,TE,2008,1666,2,0.7667,Connecticut,Londonderry,NH,42.865087,-71.373953,2013,6,201,HOU,TE,Connecticut
1169,Chris Thompson,RB,2009,179,4,0.9197,Florida State,Greenville,FL,30.469481,-83.629969,2013,5,154,WAS,RB,Florida State
1170,Malcolm Johnson,WR,2010,691,3,0.8653,Mississippi State,Tuscaloosa,AL,33.266840,-87.486218,2015,6,195,CLE,TE,Mississippi State
1171,Duke Williams,ATH,2009,1700,2,0.7889,Nevada,Reno,NV,39.529270,-119.813674,2013,4,105,BUF,DB,Nevada
1172,Tyler Wilson,PRO,2008,127,4,0.9366,Arkansas,Greenwood,AR,35.215649,-94.255766,2013,4,112,OAK,QB,Arkansas
1173,Kenny Bell,ATH,2010,568,3,0.8701,Nebraska,Boulder,CO,40.014986,-105.270546,2015,5,162,TAM,WR,Nebraska
1174,Devin Taylor,WDE,2008,1139,3,0.8188,South Carolina,Beaufort,SC,32.431581,-80.669829,2013,4,132,DET,DE,South Carolina
1175,Trevardo Williams,SDE,2009,1656,3,0.8000,Connecticut,New Milford,CT,41.586742,-73.411765,2013,4,124,HOU,DE,Connecticut
1176,Kevin Pierre-Louis,OLB,2010,245,4,0.9101,Boston College,Stamford,CT,41.053430,-73.538734,2014,4,132,SEA,LB,Boston College
1177,Corey Robinson,OT,2010,1631,3,0.8227,South Carolina,Havelock,NC,34.878500,-76.901446,2015,7,240,DET,T,South Carolina

In [25]:
star_rnd = drafted[['STAR','DRAFT_RND']]
#star_rnd.groupby('STAR').count()
#star_rnd.pivot(index='STAR',columns='DRAFT_RND')
star_rnd_crosstab1 = pd.crosstab(star_rnd['STAR'], star_rnd['DRAFT_RND'])
star_rnd_crosstab1

DRAFT_RND   1   2   3   4   5   6   7
STAR
2          17  19  20  21  30  32  30
3          60  67  77  86  80  79  84
4          60  51  62  68  40  44  47
5          31  23  14  10   9  10   7

In [29]:
star_rnd_crosstab2 = pd.crosstab(star_rnd['DRAFT_RND'], star_rnd['STAR'])
star_rnd_crosstab2

STAR        2   3   4   5
DRAFT_RND
1          17  60  60  31
2          19  67  51  23
3          20  77  62  14
4          21  86  68  10
5          30  80  40   9
6          32  79  44  10
7          30  84  47   7

In [32]:
import plotly.plotly as py
import plotly.graph_objs as go

In [30]:
five = star_rnd_crosstab2[5].tolist()
four = star_rnd_crosstab2[4].tolist()
three = star_rnd_crosstab2[3].tolist()
two = star_rnd_crosstab2[2].tolist()
one = [0,0,0,0,0,0,0]

In [93]:
trace = go.Heatmap(z=[one, two, three, four, five],
                  x=['Rnd 1', 'Rnd 2', 'Rnd 3', 'Rnd 4', 'Rnd 5', 'Rnd 6', 'Rnd 7'],
                  y=['1 Star','2 Star','3 Star','4 Star','5 Star'],
                  colorscale=['red'])
data=[trace]

layout = {'title':'Draft picks and recruit ratings'}
fig = {'layout':layout,'data':data}

py.iplot(fig, filename='label-heatmap')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~txstu09/0 or inside your plot.ly account where it is named 'label-heatmap'

In [38]:
recruits.head()

,PLAYER,FIRST_NAME,LAST_NAME,POS,YEAR,RNK,STAR,247_SCORE,COLLEGE,CITY,STATE,LAT,LNG,HIGH_SCHOOL
0,Joe McKnight,Joe,McKnight,RB,2007,1,5,0.9997,USC,New Orleans,LA,30.032802,-89.975005,John Curtis
1,Lionel Breaux,Lionel,Breaux,WR,2007,305,3,0.8795,Mississippi,New Orleans,LA,30.032802,-89.975005,McDonogh 35
2,Korey Williams,Korey,Williams,ILB,2007,519,3,0.8559,Southern Miss,New Orleans,LA,30.032802,-89.975005,Edna Karr
3,Tyler Stradford,Tyler,Stradford,WR,2007,523,3,0.8559,Oklahoma,New Orleans,LA,30.032802,-89.975005,O Perry Walker
4,Delvin Breaux,Delvin,Breaux,CB,2007,665,3,0.8479,LSU,New Orleans,LA,30.032802,-89.975005,McDonogh 35

In [84]:
croots_per_year = recruits.groupby(['YEAR','STAR']).count()
croots_per_year = croots_per_year['PLAYER'].to_frame().reset_index()

croots_per_year = croots_per_year.pivot(index='STAR', columns='YEAR', values='PLAYER').fillna(0).astype(int)

croots_per_year['mean'] = round(croots_per_year.mean(axis=1)).astype(int)
croots_per_year

YEAR  2007  2008  2009  2010  2011  2012  mean
STAR
1        0     0     0     2     6    19     4
2      896   806   621   482  1173  1300   880
3     1073  1027  1338  1630  1209  1398  1279
4      212   304   300   314   253   339   287
5       31    28    32    32    30    37    32

In [86]:
import squarify

In [89]:
x = 0.
y = 0.
width = 100.
height = 100.

values = [884, 1279, 287, 32]

normed = squarify.normalize_sizes(values, width, height)
rects = squarify.squarify(normed, x, y, width, height)

# Choose colors from http://colorbrewer2.org/ under "Export"
color_brewer = ['rgb(166,206,227)','rgb(31,120,180)','rgb(178,223,138)',
                'rgb(51,160,44)','rgb(251,154,153)','rgb(227,26,28)']
shapes = []
annotations = []
counter = 0

for r in rects:
    shapes.append( 
        dict(
            type = 'rect', 
            x0 = r['x'], 
            y0 = r['y'], 
            x1 = r['x']+r['dx'], 
            y1 = r['y']+r['dy'],
            line = dict( width = 2 ),
            fillcolor = color_brewer[counter]
        ) 
    )
    annotations.append(
        dict(
            x = r['x']+(r['dx']/2),
            y = r['y']+(r['dy']/2),
            text = values[counter],
            showarrow = False
        )
    )
    counter = counter + 1
    if counter >= len(color_brewer):
        counter = 0

# For hover text
trace0 = go.Scatter(
    x = [ r['x']+(r['dx']/2) for r in rects ], 
    y = [ r['y']+(r['dy']/2) for r in rects ],
    text = [ str(v) for v in values ], 
    mode = 'text',
)
        
layout = dict(
    height=700, 
    width=700,
    xaxis=dict(showgrid=False,zeroline=False,showticklabels=False),
    yaxis=dict(showgrid=False,zeroline=False,showticklabels=False),
    shapes=shapes,
    annotations=annotations,
    hovermode='closest'
)

# With hovertext
figure = dict(data=[trace0], layout=layout)

# Without hovertext
# figure = dict(data=[Scatter()], layout=layout)

py.iplot(figure, filename='squarify-treemap-test')

In [94]:
drafted

,PLAYER,POS_CFB,YEAR_RECRUITED,RNK_RECRUITED,STAR,247_SCORE,COLLEGE_CFB,HOME_CITY,HOME_STATE,LAT,LNG,YEAR_DRAFTED,DRAFT_RND,DRAFT_PICK,NFL_TEAM,POS_NFL,COLLEGE_NFL
0,Joe McKnight,RB,2007,1,5,0.9997,USC,New Orleans,LA,30.032802,-89.975005,2010,4,112,NYJ,RB,USC
1,Tyrann Mathieu,CB,2010,223,4,0.9132,LSU,New Orleans,LA,30.032802,-89.975005,2013,3,69,ARI,DB,LSU
2,Trai Turner,OG,2011,355,3,0.8765,LSU,New Orleans,LA,30.032802,-89.975005,2014,3,92,CAR,OL,LSU
3,Deion Jones,OLB,2012,378,3,0.8899,LSU,New Orleans,LA,30.032802,-89.975005,2016,2,52,ATL,OLB,LSU
4,Lorenzo Doss,ATH,2012,1123,3,0.8354,Tulane,New Orleans,LA,30.032802,-89.975005,2015,5,164,DEN,CB,Tulane
5,Jimmy Clausen,PRO,2007,2,5,0.9988,Notre Dame,Thousand Oaks,CA,34.171427,-118.910588,2010,2,48,CAR,QB,Notre Dame
6,Casey Matthews,ILB,2007,347,3,0.8764,Oregon,Thousand Oaks,CA,34.171427,-118.910588,2011,4,116,PHI,LB,Oregon
7,Cassius Marsh,DT,2010,118,4,0.9441,UCLA,Thousand Oaks,CA,34.171427,-118.910588,2014,4,108,SEA,DE,UCLA
8,Jordan Payton,WR,2012,135,4,0.9427,UCLA,Thousand Oaks,CA,34.171427,-118.910588,2016,5,154,CLE,WR,UCLA
9,Eric Berry,CB,2007,3,5,0.9986,Tennessee,Fairburn,GA,33.567056,-84.581042,2010,1,5,KAN,DB,Tennessee
10,Joshua Holsey,CB,2012,157,4,0.9358,Auburn,Fairburn,GA,33.567056,-84.581042,2017,7,235,WAS,DB,Auburn
11,Marvin Austin,DT,2007,4,5,0.9979,North Carolina,Washington,DC,38.894955,-77.036646,2011,2,52,NYG,DT,North Carolina
12,Arrelious Benn,WR,2007,12,5,0.9937,Illinois,Washington,DC,38.894955,-77.036646,2010,2,39,TAM,WR,Illinois
13,Jeremiah Attaochu,OLB,2010,1073,3,0.8510,Georgia Tech,Washington,DC,38.894955,-77.036646,2014,2,50,SDG,LB,Georgia Tech
14,Kevin Hogan,PRO,2011,356,3,0.8764,Stanford,Washington,DC,38.894955,-77.036646,2016,5,162,KAN,QB,Stanford
15,Eddie Goldman,DT,2012,10,5,0.9944,Florida State,Washington,DC,38.894955,-77.036646,2015,2,39,CHI,DT,Florida State
16,Sean Davis,CB,2012,682,3,0.8657,Maryland,Washington,DC,38.894955,-77.036646,2016,2,58,PIT,CB,Maryland
17,Ryan Mallett,PRO,2007,5,5,0.9978,Michigan,Texarkana,TX,33.425125,-94.047688,2011,3,74,NWE,QB,Arkansas
18,Cobi Hamilton,WR,2009,463,3,0.8764,Arkansas,Texarkana,TX,33.425125,-94.047688,2013,6,197,CIN,WR,Arkansas
19,Marqueston Huff,CB,2010,1223,3,0.8448,Wyoming,Texarkana,TX,33.425125,-94.047688,2014,4,122,TEN,DB,Wyoming
20,Nick Reed,FB,2012,1818,2,0.7942,SMU,Texarkana,TX,33.425125,-94.047688,2009,7,247,SEA,DE,Oregon
21,Matt Kalil,OT,2008,20,5,0.9892,USC,Anaheim,CA,33.834752,-117.911732,2012,1,4,MIN,T,USC
22,Troy Niklas,SDE,2011,179,4,0.9187,Notre Dame,Anaheim,CA,33.834752,-117.911732,2014,2,52,ARI,TE,Notre Dame
23,Everson Griffen,SDE,2007,9,5,0.9960,USC,Avondale,AZ,33.435918,-112.340502,2010,4,100,MIN,DE,USC
24,Tommy Bohanon,FB,2009,1265,3,0.8333,Wake Forest,North Fort Myers,FL,26.710749,-81.813010,2013,7,215,NYJ,RB,Wake Forest
25,Tre Boston,CB,2010,818,3,0.8590,North Carolina,North Fort Myers,FL,26.710749,-81.813010,2014,4,128,CAR,DB,North Carolina
26,Kevin Zeitler,OG,2008,691,3,0.8556,Wisconsin,Milwaukee,WI,43.034993,-87.922497,2012,1,27,CIN,G,Wisconsin
27,Eric Murray,ATH,2012,2047,2,0.7791,Minnesota,Milwaukee,WI,43.034993,-87.922497,2016,4,106,KAN,CB,Minnesota
28,Carlos Dunlap,SDE,2007,14,5,0.9935,Florida,North Charleston,SC,32.854620,-79.974810,2010,2,54,CIN,DE,Florida
29,Robert Quinn,WDE,2008,264,4,0.8993,North Carolina,North Charleston,SC,32.854620,-79.974810,2011,1,14,STL,DE,North Carolina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,Aaron Williams,CB,2008,98,4,0.9517,Texas,Austin,TX,30.271129,-97.743700,2011,2,34,BUF,DB,Texas
1149,Ryan Murphy,S,2010,1456,3,0.8333,Oregon State,Oakland,CA,37.804456,-122.271356,2015,7,248,SEA,DB,Oregon State
1150,Marcus Smith,WDE,2010,593,3,0.8684,Louisville,Columbus,GA,32.460976,-84.987709,2014,1,26,PHI,LB,Louisville
1151,Michael Bennett,DT,2011,49,4,0.9736,Ohio State,Dayton,OH,39.758948,-84.191607,2015,6,180,JAX,DT,Ohio State
1152,Stedman Bailey,WR,2009,355,3,0.8875,West Virginia,Hollywood,FL,26.011201,-80.149490,2013,3,92,STL,WR,West Virginia
1153,Cedric Thompson,CB,2011,2153,2,0.7444,Minnesota,Calipatria,CA,33.143921,-115.549456,2015,5,150,MIA,FS,Minnesota
1154,T.J. Jones,WR,2010,87,4,0.9591,Notre Dame,Gainesville,GA,34.297879,-83.824066,2014,6,189,DET,WR,Notre Dame
1155,Oday Aboushi,OT,2009,568,3,0.8694,Virginia,Brooklyn,NY,40.650104,-73.949582,2013,5,141,NYJ,T,Virginia
1156,Justin Gilbert,ATH,2010,251,4,0.9059,Oklahoma State,Huntsville,TX,30.723526,-95.550777,2014,1,8,CLE,DB,Oklahoma State
1157,Marvin Jones,WR,2008,182,4,0.9202,California,Rancho Cucamonga,CA,34.103319,-117.575174,2012,5,166,CIN,WR,California
1158,Chris Carter,OLB,2007,848,3,0.8333,Fresno State,Fontana,CA,34.092233,-117.435048,2011,5,162,PIT,LB,Fresno State
1159,Chris Smith,WDE,2010,641,3,0.8655,Arkansas,Mount Ulla,NC,35.658473,-80.726736,2014,5,159,JAX,DE,Arkansas
1160,Chris Givens,RB,2008,1272,3,0.8111,Wake Forest,Wylie,TX,33.015120,-96.538879,2012,4,96,STL,WR,Wake Forest
1161,Kyle Fuller,CB,2010,1072,3,0.8510,Virginia Tech,Baltimore,MD,39.290882,-76.610759,2014,1,14,CHI,DB,Virginia Tech
1162,Brandon Thomas,OT,2009,250,4,0.9030,Clemson,Roebuck,SC,34.879568,-81.966214,2014,3,100,SFO,OL,Clemson
1163,Devin Smith,WR,2011,286,3,0.8895,Ohio State,Massillon,OH,40.796724,-81.521509,2015,2,37,NYJ,WR,Ohio State
1164,Jordan Hicks,OLB,2010,7,5,0.9962,Texas,West Chester,OH,40.233680,-81.344278,2015,3,84,PHI,OLB,Texas
1165,Austin Johnson,DT,2012,991,3,0.8422,Penn State,Richland,NJ,39.491783,-74.870724,2016,2,43,TEN,NT,Penn State
1166,Brandon Thompson,DT,2008,61,4,0.9713,Clemson,Thomasville,GA,30.836582,-83.978781,2012,3,93,CIN,DT,Clemson
1167,Sean Porter,OLB,2009,955,3,0.8505,Texas A&M,Schertz,TX,29.564162,-98.269570,2013,4,118,CIN,LB,Texas A&M
1168,Ryan Griffin,TE,2008,1666,2,0.7667,Connecticut,Londonderry,NH,42.865087,-71.373953,2013,6,201,HOU,TE,Connecticut
1169,Chris Thompson,RB,2009,179,4,0.9197,Florida State,Greenville,FL,30.469481,-83.629969,2013,5,154,WAS,RB,Florida State
1170,Malcolm Johnson,WR,2010,691,3,0.8653,Mississippi State,Tuscaloosa,AL,33.266840,-87.486218,2015,6,195,CLE,TE,Mississippi State
1171,Duke Williams,ATH,2009,1700,2,0.7889,Nevada,Reno,NV,39.529270,-119.813674,2013,4,105,BUF,DB,Nevada
1172,Tyler Wilson,PRO,2008,127,4,0.9366,Arkansas,Greenwood,AR,35.215649,-94.255766,2013,4,112,OAK,QB,Arkansas
1173,Kenny Bell,ATH,2010,568,3,0.8701,Nebraska,Boulder,CO,40.014986,-105.270546,2015,5,162,TAM,WR,Nebraska
1174,Devin Taylor,WDE,2008,1139,3,0.8188,South Carolina,Beaufort,SC,32.431581,-80.669829,2013,4,132,DET,DE,South Carolina
1175,Trevardo Williams,SDE,2009,1656,3,0.8000,Connecticut,New Milford,CT,41.586742,-73.411765,2013,4,124,HOU,DE,Connecticut
1176,Kevin Pierre-Louis,OLB,2010,245,4,0.9101,Boston College,Stamford,CT,41.053430,-73.538734,2014,4,132,SEA,LB,Boston College
1177,Corey Robinson,OT,2010,1631,3,0.8227,South Carolina,Havelock,NC,34.878500,-76.901446,2015,7,240,DET,T,South Carolina

In [99]:
college_nfl = drafted.groupby('COLLEGE_NFL').count().sort_values('PLAYER', ascending=False)
college_cfb = recruits.groupby('COLLEGE').count().sort_values('PLAYER', ascending=False)

----------------------------------------------------------------

In [4]:
five_recruited = recruits.loc[recruits['STAR'] == 5]
five_recruited = five_recruited.groupby('COLLEGE').count().sort_values('PLAYER', ascending=False)
five_recruited = five_recruited['PLAYER'].to_frame().rename(columns={'PLAYER':'RECRUITED'})

In [5]:
five_drafted = drafted.loc[drafted['STAR'] == 5]
five_drafted = five_drafted.groupby('COLLEGE_NFL').count().sort_values('PLAYER', ascending=False)
five_drafted = five_drafted['PLAYER'].to_frame()#.rename(columns={'PLAYER':'DRAFTED'}).reset_index()
five_drafted = five_drafted.reset_index().rename(columns={'PLAYER':'DRAFTED','COLLEGE_NFL':'COLLEGE'}).set_index('COLLEGE')

In [6]:
draft_ratio = five_drafted.join(five_recruited, how='outer')
draft_ratio = draft_ratio.fillna(0).astype(int)
draft_ratio['RATIO'] = draft_ratio['DRAFTED']/draft_ratio['RECRUITED']

In [7]:
ratio2 = draft_ratio.replace([np.inf, -np.inf], np.nan).dropna(how="any")

ratio2 = ratio2.loc[ratio2['RECRUITED'] >= 2]
ratio2 = ratio2.sort_values('RATIO', ascending=False).reset_index().head(20)
ratio2.head()

          COLLEGE  DRAFTED  RECRUITED     RATIO
0         Clemson        5          5  1.000000
1        Stanford        2          2  1.000000
2  South Carolina        2          2  1.000000
3        Illinois        2          2  1.000000
4         Alabama       10         15  0.666667

In [158]:
x_val = ratio2['COLLEGE'].tolist()
y_val = ratio2['RATIO'].tolist()
d_marker = ratio2['DRAFTED'].tolist()
r_marker = ratio2['RECRUITED'].tolist()

In [178]:
import plotly.plotly as py
import plotly.graph_objs as go

drafted = go.Scatter(
    x=x_val,
    y=y_val,
    text=d_marker,
    mode='markers',
    marker=dict(
        size=d_marker,
        sizemode='area',
        sizeref=2.*max(d_marker)/(40.**2),
        sizemin=4,
        color='blue'
    )
)


data = [drafted]
py.iplot(data, filename='bubblechart-size')

In [19]:
four_recruited = recruits.loc[recruits['STAR'] == 4]
four_recruited = four_recruited.groupby('COLLEGE').count().sort_values('PLAYER', ascending=False)
four_recruited = four_recruited['PLAYER'].to_frame().rename(columns={'PLAYER':'RECRUITED'})

four_drafted = drafted.loc[drafted['STAR'] == 4]
four_drafted = four_drafted.groupby('COLLEGE_NFL').count().sort_values('PLAYER', ascending=False)
four_drafted = four_drafted['PLAYER'].to_frame()
four_drafted = four_drafted.reset_index().rename(columns={'PLAYER':'DRAFTED','COLLEGE_NFL':'COLLEGE'}).set_index('COLLEGE')

dr4 = four_drafted.join(four_recruited, how='outer')
dr4 = dr4.fillna(0).astype(int)
dr4['RATIO'] = dr4['DRAFTED']/dr4['RECRUITED']

dr4 = dr4.replace([np.inf, -np.inf], np.nan).dropna(how="any")

dr4 = dr4.loc[dr4['RECRUITED'] >= 2]
dr4 = dr4.sort_values('RATIO', ascending=False).reset_index().head(20)
dr4

              COLLEGE  DRAFTED  RECRUITED     RATIO
0                Duke        1          2  0.500000
1          Louisville        4          9  0.444444
2                Iowa        7         17  0.411765
3             Clemson       15         39  0.384615
4              Baylor        4         11  0.363636
5             Alabama       24         79  0.303797
6   Mississippi State        6         20  0.300000
7                 LSU       21         71  0.295775
8          Pittsburgh        5         17  0.294118
9                UCLA       13         45  0.288889
10      Virginia Tech        6         21  0.285714
11           Illinois        4         14  0.285714
12           Arkansas        6         21  0.285714
13         Notre Dame       18         63  0.285714
14     Oklahoma State        5         18  0.277778
15           Stanford        8         29  0.275862
16      Arizona State        3         11  0.272727
17              Miami       13         48  0.270833
18     South Carolina       10         37  0.270270
19            Georgia       14         52  0.269231

In [22]:
x_val_4 = dr4['COLLEGE'].tolist()
y_val_4 = dr4['RATIO'].tolist()
d_marker_4 = dr4['DRAFTED'].tolist()
r_marker_4 = dr4['RECRUITED'].tolist()

In [23]:
drafted_4 = go.Scatter(
    x=x_val_4,
    y=y_val_4,
    text=d_marker_4,
    mode='markers',
    marker=dict(
        size=d_marker_4,
        sizemode='area',
        sizeref=2.*max(d_marker_4)/(40.**2),
        sizemin=4,
        color='green'
    )
)


data = [drafted_4]
py.iplot(data, filename='bubblechart-size')

In [24]:
three_recruited = recruits.loc[recruits['STAR'] == 3]
three_recruited = three_recruited.groupby('COLLEGE').count().sort_values('PLAYER', ascending=False)
three_recruited = three_recruited['PLAYER'].to_frame().rename(columns={'PLAYER':'RECRUITED'})

three_drafted = drafted.loc[drafted['STAR'] == 3]
three_drafted = three_drafted.groupby('COLLEGE_NFL').count().sort_values('PLAYER', ascending=False)
three_drafted = three_drafted['PLAYER'].to_frame()
three_drafted = three_drafted.reset_index().rename(columns={'PLAYER':'DRAFTED','COLLEGE_NFL':'COLLEGE'}).set_index('COLLEGE')

dr3 = three_drafted.join(three_recruited, how='outer')
dr3 = dr3.fillna(0).astype(int)
dr3['RATIO'] = dr3['DRAFTED']/dr3['RECRUITED']

dr3 = dr3.replace([np.inf, -np.inf], np.nan).dropna(how="any")

dr3 = dr3.loc[dr3['RECRUITED'] >= 2]
dr3 = dr3.sort_values('RATIO', ascending=False).reset_index().head(20)
dr3

                 COLLEGE  DRAFTED  RECRUITED     RATIO
0   South Carolina State        1          3  0.333333
1       Georgia Southern        1          3  0.333333
2             Ohio State        7         34  0.205882
3               Oklahoma       10         54  0.185185
4          Florida State       10         59  0.169492
5                    LSU       10         61  0.163934
6               Nebraska       13         82  0.158537
7             Louisville       13         84  0.154762
8                 Oregon       10         68  0.147059
9                Florida        5         34  0.147059
10        Michigan State       14         97  0.144330
11            Utah State        2         14  0.142857
12            California        9         63  0.142857
13               Alabama        7         50  0.140000
14              Stanford       11         79  0.139241
15               Clemson       10         73  0.136986
16               Georgia        7         54  0.129630
17             Wisconsin       11         90  0.122222
18                  Utah        8         66  0.121212
19           Boise State        8         67  0.119403

In [25]:
x_val_3 = dr3['COLLEGE'].tolist()
y_val_3 = dr3['RATIO'].tolist()
d_marker_3 = dr3['DRAFTED'].tolist()
r_marker_3 = dr3['RECRUITED'].tolist()

In [27]:
drafted_3 = go.Scatter(
    x=x_val_3,
    y=y_val_3,
    text=d_marker_3,
    mode='markers',
    marker=dict(
        size=d_marker_3,
        sizemode='area',
        sizeref=2.*max(d_marker_3)/(40.**2),
        sizemin=4,
        color='red'
    )
)


data = [drafted_3]
py.iplot(data, filename='bubblechart-size')

In [28]:
two_recruited = recruits.loc[recruits['STAR'] == 2]
two_recruited = two_recruited.groupby('COLLEGE').count().sort_values('PLAYER', ascending=False)
two_recruited = two_recruited['PLAYER'].to_frame().rename(columns={'PLAYER':'RECRUITED'})

two_drafted = drafted.loc[drafted['STAR'] == 2]
two_drafted = two_drafted.groupby('COLLEGE_NFL').count().sort_values('PLAYER', ascending=False)
two_drafted = two_drafted['PLAYER'].to_frame()
two_drafted = two_drafted.reset_index().rename(columns={'PLAYER':'DRAFTED','COLLEGE_NFL':'COLLEGE'}).set_index('COLLEGE')

dr2 = two_drafted.join(two_recruited, how='outer')
dr2 = dr2.fillna(0).astype(int)
dr2['RATIO'] = dr2['DRAFTED']/dr2['RECRUITED']

dr2 = dr2.replace([np.inf, -np.inf], np.nan).dropna(how="any")

dr2 = dr2.loc[dr2['RECRUITED'] >= 2]
dr2 = dr2.sort_values('RATIO', ascending=False).reset_index().head(20)
dr2

              COLLEGE  DRAFTED  RECRUITED     RATIO
0            Missouri        3          5  0.600000
1          Penn State        2          5  0.400000
2               Miami        2          5  0.400000
3              Oregon        3         10  0.300000
4           Texas A&M        2          8  0.250000
5   Mississippi State        2          9  0.222222
6                 TCU        4         19  0.210526
7           Wisconsin        3         15  0.200000
8            Stanford        2         11  0.181818
9              Baylor        3         17  0.176471
10               UCLA        1          6  0.166667
11         California        1          6  0.166667
12        Mississippi        2         13  0.153846
13            Clemson        1          7  0.142857
14           Syracuse        4         33  0.121212
15        Connecticut        6         52  0.115385
16      West Virginia        2         19  0.105263
17        Boise State        4         40  0.100000
18          Minnesota        2         21  0.095238
19               Utah        2         22  0.090909

In [29]:
x_val_2 = dr2['COLLEGE'].tolist()
y_val_2 = dr2['RATIO'].tolist()
d_marker_2 = dr2['DRAFTED'].tolist()
r_marker_2 = dr2['RECRUITED'].tolist()

In [31]:
drafted_2 = go.Scatter(
    x=x_val_2,
    y=y_val_2,
    text=d_marker_2,
    mode='markers',
    marker=dict(
        size=d_marker_2,
        sizemode='area',
        sizeref=2.*max(d_marker_2)/(40.**2),
        sizemin=4,
        color='purple'
    )
)


data = [drafted_2]
py.iplot(data, filename='bubblechart-size')